In [2]:
import json, pandas as pd
import json

In [4]:
with open('test.json') as f:
    js = json.loads(f.read())
df = pd.DataFrame(js)
df.head()

   name  age
0  Jack   26
1   Ace   87

In [6]:
df = pd.read_json('test.json')
df.head()

   name  age
0  Jack   26
1   Ace   87

In [7]:
df.to_json()

'{"name":{"0":"Jack","1":"Ace"},"age":{"0":26,"1":87}}'

In [8]:
df.to_json(orient='records')

'[{"name":"Jack","age":26},{"name":"Ace","age":87}]'

In [9]:
df.to_json(orient='split')

'{"columns":["name","age"],"index":[0,1],"data":[["Jack",26],["Ace",87]]}'

In [10]:
df.to_json(orient='values')

'[["Jack",26],["Ace",87]]'

In [11]:
df.to_json(orient='index')

'{"0":{"name":"Jack","age":26},"1":{"name":"Ace","age":87}}'

In [12]:
df.to_json('write.json',orient='records')